@charset "UTF-8";
@import "./reset.css";
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Montserrat", sans-serif;
}

button {
  text-transform: lowercase;
  background: #9b411a;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  padding: 0.2em 0.6em;
  transition: all 0.2s;
}
button:hover {
  border: 1px solid #9b411a;
  color: #9b411a;
  background-color: white;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  position: relative;
}
form label {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  color: #004e17;
  font-size: 1.5rem;
}
form input {
  font-size: 0.9rem;
  margin-top: 0.2em;
  padding: 0.3em 0.8em;
  width: 90%;
  border-radius: 0.2em;
  border: 1px solid black;
}
form input + span::after {
  position: absolute;
  top: -1.7em;
  left: -1.2em;
}
form input.valid {
  border-color: green;
}
form input.valid + span::after {
  content: "✓";
  color: green;
}
form input.invalid {
  border-color: #c21b1b;
}
form input.invalid + span::after {
  content: "X";
  color: #c21b1b;
}
form span {
  position: relative;
  font-size: 0.8rem;
  color: #c21b1b;
}
form button {
  padding: 0.35em 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  font-size: 1.2rem;
}

nav {
  background-color: #004e17;
  color: white;
  position: relative;
  height: 6rem;
  font-size: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: -webkit-min-content auto -webkit-max-content;
  grid-template-columns: min-content auto max-content;
  grid-template-areas: "logo nav user";
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  position: relative;
}
nav ul {
  display: flex;
  gap: 1.5rem;
}
nav .nav__header {
  margin: 0.5em 0 0.5em 3rem;
  font-size: 2.5rem;
}
nav .nav__header span {
  color: #9b411a;
  font-weight: bold;
}
nav .nav__links {
  grid-area: nav;
  align-self: center;
}
nav .nav__links a.active {
  color: #4cae7d;
}
nav .nav__links a:not(.active)::after {
  content: "";
  width: 0;
  height: 2px;
  color: red;
  background-color: red;
  z-index: 100;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}
nav .nav__links a:hover::after {
  opacity: 1;
  width: 100%;
}
nav .nav__user {
  grid-area: user;
  align-self: center;
  margin-right: 2rem;
}
nav .nav__user .user {
  font-size: 1rem;
  align-self: center;
}
nav .nav__user button {
  padding: 0.5em 1em;
  line-height: 1.3rem;
  font-size: 1.2rem;
}
nav .nav__user a {
  display: inline-block;
  line-height: 1.3rem;
  font-size: 1.2rem;
  background-color: #9b411a;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 2px solid transparent;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
nav .nav__user a:hover {
  color: #9b411a;
  background-color: white;
  border: 2px solid #9b411a;
}
nav .login-form {
  position: absolute;
  right: 0;
  top: 6rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0 0 0 1em;
  transition-duration: 0.3s;
  transform-origin: top;
  transition-property: transform, opacity;
  height: auto;
  color: #004e17;
}
nav .login-form .form-container > div {
  margin-left: 10%;
  font-size: 0.8rem;
  color: #c21b1b;
}
nav .login-form.hide {
  opacity: 0;
  transform: scaleY(0.6);
}

main {
  background-color: #eeeeee;
  height: 100%;
  display: grid;
}

.homepage {
  display: grid;
  background: url(../images/background.png), linear-gradient(-45deg, transparent, rgba(167, 167, 167, 0.568));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
}
.homepage .hero {
  font-size: 2.5rem;
  justify-self: left;
  align-self: center;
  margin-left: 8%;
  color: #004e17;
  text-shadow: 2px 2px 6px rgba(226, 226, 226, 0.637);
}
.homepage .hero span {
  color: #9b411a;
}
.homepage .cta {
  justify-self: center;
}
.homepage .cta button {
  color: #9b411a;
  font-weight: bold;
  border: 2px solid #9b411a;
  border-radius: 0.5em;
  font-size: 1.6rem;
  margin: 0.8em;
  padding: 0.3em 1em;
  cursor: pointer;
  text-transform: none;
}
.homepage .cta button#get-started {
  color: white;
  background-color: #9b411a;
}
.homepage .cta button#learn-more {
  background-color: white;
}
.homepage .cta button:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
.homepage .cta button:active {
  transform: scale(0.95);
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.05em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.05em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.register .form-container {
  margin: 0.5rem;
  padding: 2.5rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  display: grid;
  width: clamp(18rem, 80%, 25rem);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 20rem;
  position: relative;
  padding: 2rem;
  gap: 1.5rem;
}
.projects__new-button {
  padding: 0.5em 2em;
  margin: 0 auto;
}
.projects .project {
  background-color: white;
  border-radius: 1em;
  display: grid;
  grid-template-areas: "header" "main" "issues";
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}
.projects .project img {
  width: 2.5rem;
}
.projects .project button {
  background-color: transparent;
  color: #004e17;
}
.projects .project:hover {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}
.projects .project:hover .project__issues-open {
  border: 1px #004e17 solid;
}
.projects .project__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .project__controls {
  margin-left: auto;
  margin-right: 1rem;
}
.projects .project__description {
  grid-area: main;
  padding: 2rem;
}
.projects .project__issues-open {
  grid-area: issues;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.projects .project__contrib {
  display: flex;
  align-items: center;
}
.projects .project__contrib img {
  display: inline-block;
}
.projects aside .container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.projects aside .filters {
  background-color: white;
  border-radius: 0.35em;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.projects aside .filters h2 {
  align-self: center;
}
.projects aside .filters__search-input {
  position: relative;
  margin: 1rem;
}
.projects aside .filters__search-input img {
  fill: #004e17;
  top: 0;
  right: 0;
  position: absolute;
  width: 1.8rem;
}
.projects aside .filters__search-input input {
  border: none;
  border-bottom: 1px solid #004e17;
  padding: 0.3em 0.8em;
  outline: none;
  box-shadow: none;
}
.projects aside .filters__team-buttons button {
  background-color: white;
  color: #004e17;
  margin: 0.5rem;
  border: 2px solid #004e17;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
.projects aside .filters__team-buttons button:hover, .projects aside .filters__team-buttons button:focus {
  font-weight: bold;
}
.projects aside .filters__team-buttons button.active {
  background-color: #004e17;
  color: white;
}
.projects aside .filters__issues-open {
  padding: 0.5rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
  position: relative;
}
.projects aside .filters__issues-open input {
  display: none;
}
.projects aside .filters__issues-open input ~ ::before {
  transition: background-color 0.4s;
  position: absolute;
  left: -1rem;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #004e17;
  color: white;
  line-height: 1.1;
}
.projects aside .filters__issues-open input:checked ~ ::before {
  content: "✓";
  background-color: #004e17;
}/*# sourceMappingURL=index.css.map */