@use "./variables/colors" as *;

@use "./reset.css";

// Components
@use "./components/nav";
@use "./components/button";
@use "./components/form";

//Pages
@use "./pages/homepage";
@use "./pages/register";
@use "./pages/issues";
@use "./pages/projects";
@use "./pages/project-forms";
@use "./pages/docs";

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}

main {
  background-color: $bg-color;
  height: 100%;
  display: grid;
  width: calc(100vw - 2rem); //Leave room for scrollbar
}
