@import "./reset.css";

$main-color: #004e17;
$accent-color: #9b411a;
$dark-red: #c21b1b;
$bg-color: #eeeeee;

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}

// Buttons default
button {
  text-transform: lowercase;
  background: $accent-color;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  padding: 0.2em 0.6em;
  transition: all 0.2s;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
    background-color: white;
    cursor: pointer;
  }
}

// Forms default
form {
  display: flex;
  flex-direction: column;
  position: relative;
  label {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    color: $main-color;
    font-size: 1.5rem;
  }
  input {
    font-size: 0.9rem;
    margin-top: 0.2em;
    padding: 0.3em 0.8em;
    width: 100%;
    border-radius: 0.2em;
    border: 1px solid black;
  }
  input + span::after,
  textarea + span::after {
    position: absolute;
    top: -1.7em;
    left: -1.2em;
  }
  input.valid,
  textarea.valid {
    border-color: green;
  }
  input.valid + span::after,
  textarea.valid + span::after {
    content: "✓";
    color: green;
  }
  input.invalid,
  textarea.invalid {
    border-color: $dark-red;
  }
  input.invalid + span::after,
  textarea.invalid + span::after {
    content: "X";
    color: $dark-red;
  }
  span {
    position: relative;
    font-size: 0.8rem;
    color: $dark-red;
  }

  button {
    padding: 0.35em 1.5em;
    width: fit-content;
    align-self: center;
    font-size: 1.2rem;
  }
  textarea {
    width: 100%;
    font-size: 0.9rem;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.3em 0.8em;
  }
}

nav {
  background-color: $main-color;
  color: white;
  position: relative;
  height: 6rem;
  font-size: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns:
    min-content
    auto
    max-content;
  grid-template-areas: "logo nav user";
  a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
  }

  ul {
    display: flex;
    gap: 1.5rem;
  }

  .nav__header {
    margin: 0.5em 0 0.5em 3rem;
    font-size: 2.5rem;
    span {
      color: $accent-color;
      font-weight: bold;
    }
  }

  .nav__links {
    grid-area: nav;
    align-self: center;

    a.active {
      color: #4cae7d;
      pointer-events: none;
    }
    a:not(.active)::after {
      content: "";
      width: 0;
      height: 2px;
      color: red;
      background-color: red;
      z-index: 100;
      position: absolute;
      bottom: -0.2em;
      left: 0;
      opacity: 0;
      transition: all 0.3s;
    }

    a:hover::after,
    a:focus::after {
      opacity: 1;
      width: 100%;
    }
  }

  .nav__user {
    grid-area: user;
    align-self: center;
    margin-right: 2rem;
    // position: relative;
    .user {
      font-size: 1rem;
      align-self: center;
    }
    button {
      padding: 0.5em 1em;
      line-height: 1.3rem;
      font-size: 1.2rem;
    }
    a {
      display: inline-block;
      line-height: 1.3rem;
      font-size: 1.2rem;
      background-color: $accent-color;
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: 2px solid transparent;
      transition-property: background-color, color;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        color: $accent-color;
        background-color: white;
        border: 2px solid $accent-color;
      }
    }
  }
  .login-form {
    position: absolute;
    right: 0;
    top: 6rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0 0 0 1em;
    transition-duration: 0.3s;
    transform-origin: top;
    transition-property: transform, opacity;
    height: auto;

    .form-container > div {
      margin-left: 10%;
      font-size: 0.8rem;
      color: $dark-red;
    }
    color: $main-color;

    &.hide {
      opacity: 0;
      transform: scaleY(0.6);
    }
  }
}

main {
  background-color: $bg-color;
  height: 100%;
  display: grid;
  width: 98vw;
}

.homepage {
  display: grid;

  background: url(../images/background.png),
    linear-gradient(-45deg, transparent, rgba(167, 167, 167, 0.568));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
  .hero {
    font-size: 2.5rem;
    justify-self: left;
    align-self: center;
    margin-left: 8%;
    color: $main-color;
    text-shadow: 2px 2px 6px rgba(226, 226, 226, 0.637);
    span {
      color: $accent-color;
    }
  }
  .cta {
    justify-self: center;
    button {
      color: $accent-color;
      font-weight: bold;
      border: 2px solid $accent-color;
      border-radius: 0.5em;
      font-size: 1.6rem;
      margin: 0.8em;
      padding: 0.3em 1em;
      cursor: pointer;
      text-transform: none;
      &#get-started {
        color: white;
        background-color: $accent-color;
      }
      &#learn-more {
        background-color: white;
      }
      &:hover,
      &:focus {
        animation-name: bounce;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes bounce {
        0% {
          transform: scale(1, 1) translateY(0);
        }
        10% {
          transform: scale(1.1, 0.9) translateY(0);
        }
        30% {
          transform: scale(0.9, 1.1) translateY(-0.5em);
        }
        50% {
          transform: scale(1.05, 0.95) translateY(0);
        }
        57% {
          transform: scale(1, 1) translateY(-0.05em);
        }
        64% {
          transform: scale(1, 1) translateY(0);
        }
        100% {
          transform: scale(1, 1) translateY(0);
        }
      }
    }
  }
}

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  .form-container {
    margin: 0.5rem;
    padding: 2.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    display: grid;
    width: clamp(18rem, 80%, 25rem);
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 20rem;
  position: relative;
  padding: 2rem;
  gap: 1.5rem;

  &__new-button {
    padding: 0.5em 2em;
    margin: 0 auto;
  }
  .project {
    background-color: white;
    border-radius: 1em;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "issues";
    padding: 1.5rem;
    margin: 1rem;
    // border: 1px solid transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s;

    img {
      width: 2.5rem;
    }

    button {
      background-color: transparent;
      color: $main-color;
    }
    &:hover,
    &:focus {
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
      // border: 1px solid $main-color;
      .project__issues-open {
        border: 1px $main-color solid;
      }
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__controls {
      margin-left: auto;
      margin-right: 1rem;
    }
    &__description {
      grid-area: main;
      padding: 2rem;
    }
    &__issues-open {
      grid-area: issues;
      width: max-content;
    }

    &__contrib {
      display: flex;
      align-items: center;
      img {
        display: inline-block;
      }
    }
  }

  aside {
    .container {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: min-content;
    }
    .filters {
      background-color: white;
      border-radius: 0.35em;
      padding: 1rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      h2 {
        align-self: center;
      }

      &__search-input {
        position: relative;
        margin: 1rem;
        img {
          fill: $main-color;
          top: 0;
          right: 0;
          position: absolute;
          width: 1.8rem;
        }
        input {
          border: none;
          border-bottom: 1px solid $main-color;
          padding: 0.3em 0.8em;
          outline: none;
          box-shadow: none;
        }
      }
      &__team-buttons {
        button {
          background-color: $main-color;
          color: white;

          margin: 0.5rem;
          border: 2px solid $main-color;
          transition-property: background-color, color, transform;
          transition-duration: 0.3s;
          &:hover {
            transform: scale(1.05);
          }

          &.active {
            background-color: white;
            color: $main-color;
          }
        }
      }

      &__issues-open {
        padding: 0.5rem 1rem;
        width: max-content;
        align-self: center;
        position: relative;

        input[type="checkbox"] {
          // Hijack the default checkbox
          display: none;
          & ~ ::before {
            transition: background-color 0.4s;
            position: absolute;
            left: -1rem;
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid $main-color;
            color: white;
            line-height: 1.1;
          }
          &:hover ~ ::before {
            background-color: #004e173a;
          }

          &:checked ~ ::before {
            content: "✓";
            background-color: $main-color;
          }
        }
      }
    }
  }
}

.new-project-form,
.new-issue-form,
.edit-project-form {
  place-self: center;
  width: clamp(20rem, 70%, 50rem);
  form {
    input {
      width: 100%;
    }
    .form-commands {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1.5rem;
      button:focus {
        outline: none;
      }
      button:not([type="submit"]) {
        background-color: white;
        color: $main-color;
        border: 2px solid $main-color;
        &:hover {
          background-color: $main-color;
          color: white;
        }
      }
    }
  }
}

.issues {
  display: grid;
  grid-template-columns: 1fr 24rem;

  .container {
    .issues__header {
      background-color: white;
      font-size: 1.7rem;
      padding: 2rem;
      margin: 1rem 3rem;
      border-radius: 1em;
      border: 1px solid $main-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: $main-color;
        font-size: 1.2rem;
      }
    }
    .issues__list {
      margin: 1rem 3rem;
      .issue {
        background-color: white;
        margin: 1rem 0;
        padding: 0.5rem 2rem 1.5rem;
        border-radius: 1em;
        header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background-color: transparent;
            width: 4rem;

            &:not(:last-child) {
              margin-right: 0.7rem;
            }
          }
        }
        &__description {
          position: relative;
          &::after {
            content: "";
            width: 20rem;
            bottom: -1rem;
            left: 0;
            height: 2px;
            background: linear-gradient(to right, $main-color, transparent);
            position: absolute;
          }
        }
        &__footer {
          display: flex;
          align-items: center;

          button {
            background: transparent;
            color: $main-color;
            text-transform: none;
            &.take-issue {
              margin-left: auto;
              margin-right: 1rem;
            }
          }
        }
        &__subtitle {
          font-size: 0.8em;
          line-height: 1.3;
          .date {
            color: gray;
          }
          .author {
            color: $main-color;
          }
        }
        &__description {
          margin: 1.5rem 0;
        }
        &__assignedTo {
          margin-right: 1rem;
        }
      }
    }
  }

  aside {
    position: relative;
    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      position: sticky;
      top: 17vh;

      button {
        align-self: center;
        padding: 0.5em 1.5em;
      }
      .filters {
        background-color: white;
        border-radius: 0.5em;
        width: 20rem;
        height: 27rem;
        margin: 1rem 1rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2 {
          font-size: 1.8rem;
          text-align: center;
        }
        label {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          &:not(.filters__checkbox) {
            font-weight: bold;
          }

          input {
            font-weight: normal;
            border: none;
            border-bottom: 1px solid $main-color;
            padding: 0.2em 1em;
            margin: 0.5em;
            &:focus {
              outline: none;
              border-bottom: 2px solid $main-color;
              border-left: 2px solid $main-color;
              &::placeholder {
                color: transparent;
              }
            }
          }

          img {
            position: absolute;
            right: 0%;
            bottom: 0.75em;
          }

          input[type="checkbox"] {
            // Hijack the default checkbox
            display: none;
            & ~ ::before {
              transition: background-color 0.4s;
              position: absolute;
              left: -1.5em;
              bottom: 0.2em;
              content: "";
              width: 1.1rem;
              height: 1.1rem;
              border: 2px solid $main-color;
              color: white;
              line-height: 1.1;
            }
            &:checked ~ ::before {
              content: "✓";
              background-color: $main-color;
            }

            &:hover ~ ::before {
              background-color: #004e1770;
            }
          }

          // &:not(.filters__checkbox)::before {
          //   content: "";
          //   height: 100%;
          //   width: 0.3rem;
          //   left: -0.7rem;
          //   position: absolute;
          //   background-color: $accent-color;
          // }
        }
        &__checkboxes {
          align-self: center;
          margin-top: 0.5em;
          label {
            margin-top: 0.6em;
          }
        }
      }
    }
  }
}

.edit-project {
  display: grid;
  grid-template-columns: 1fr 40%;
  .manage-members {
    padding: 2rem;

    .project__members {
      background-color: white;
      padding: 1rem;
      border: 1px solid $main-color;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      p {
        margin-bottom: 1em;
      }

      .usertag {
        background-color: rgba(6, 54, 30, 0.753);
        padding: 0.3em 0.6em;
        border-radius: 0.5em;
        color: white;
      }
      .members,
      .admins {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;
      }
      .admins {
        margin-top: 1rem;
        & .usertag {
          background-color: rgba(139, 0, 0, 0.705);
        }
      }
    }

    .controls {
      background-color: white;
      border: 1px solid $main-color;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .error {
        align-self: center;
        width: 80%;
        color: $dark-red;
        font-size: 0.85em;
      }
      .container {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
      }
      h2 {
        grid-area: header;
        font-size: 1.8rem;
        font-weight: lighter;
        color: $main-color;
        text-align: center;
      }
      button {
        margin: 1em;
        &.admin,
        &#admins {
          background-color: $dark-red;
          &:hover,
          &:focus {
            background-color: white;
            border: 1px solid $dark-red;
            color: $dark-red;
          }
        }
        &.member,
        &#members {
          background-color: $main-color;
          &:hover,
          &:focus {
            background-color: white;
            border: 1px solid $main-color;
            color: $main-color;
          }
        }
        &#admins {
          background-color: $dark-red;
          &:hover,
          &:focus {
            background-color: white;
          }
        }
        &#members {
          background-color: $main-color;
          &:hover,
          &:focus {
            background-color: white;
          }
        }
      }
      label {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: center;
        font-size: 1.2rem;
      }
    }
  }
}
